/* -------------------------------------------------
admin-dashboard.component.scss
---------------------------------------------------*/

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 16px;
  padding: 16px;
}

.full-width {
  grid-column: 1 / -1;
}

.full-table {
  width: 100%;
}

.stat-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}

mat-card {
  padding: 25px;
}


.no-records {
  text-align: center;
  padding: 16px;
  font-style: italic;
  color: #777;
}
