/* -------------------------------------------------
admin-dashboard.component.scss
---------------------------------------------------*/

.stat {
font-size: 32px;
font-weight: bold;
text-align: center;
}


.secondary {
font-size: 12px;
color: gray;
}