/* src/app/features/tasks/task-list/task-list.component.scss */

.task-list-container {
  padding: 1rem;
  position: relative;
  overflow: visible !important;
}

mat-card {
  padding: 1.5rem;
  overflow: visible !important;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;

  mat-form-field {
    width: 200px;
  }

  .search {
    flex: 1;
    min-width: 250px;
  }
}

.full-width-table {
  width: 100%;
  overflow: visible !important;
}

.mat-row:hover {
  background-color: #f9f9f9;
  transition: background-color 0.2s ease-in-out;
}
