<div class="team-page">

  <mat-card class="card">
    <div class="main-create-team-container">
      <div class="header">
        <h2>Create Team</h2>
        <p>Teams help you organize users and tasks</p>
      </div>

      <form [formGroup]="form" (ngSubmit)="submit()">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Team Name</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="form.get('name')?.hasError('required')">
            Team name is required
          </mat-error>
        </mat-form-field>

        <div class="actions">
          <button mat-button type="button" routerLink="/manager">
            Cancel
          </button>

          <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
            Create Team
          </button>
        </div>

      </form>
    </div>
  </mat-card>

</div>