.user-card {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 20px;

  .title {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
  }
}


.filters-card {
  margin-bottom: 15px;
  padding: 15px;
}

.filters-row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.small-field {
  width: 200px;
}

.tasks-card {
  padding: 10px 15px;
}

.task-table {
  width: 100%;
}
