name: Build and Deploy Frontend

on:
  push:
    branches:
      - main
    paths:
      - 'Front-end/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install frontend dependencies
      working-directory: Front-end
      run: npm ci

    - name: Build Angular app (Production)
      working-directory: Front-end
      run: npm run build -- --configuration production

    - name: Deploy to EC2
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "Front-end/dist/front-end/*"
        target: "/var/www/meanapp"
